.App {
  text-align: center;
  display: flex;
}
.sidebar {
  height: 100vh;
  width: 10vw;
}
.sidebarRow {
  height:50px;
}
.content {
  width:100%;
  height:100vh;
}
.firmwareList {
  height:100%;
}
.itemRow {
  display: flex;
}
.itemRow .metadata{
  display:flex;
  flex-direction: column;
  width: 100px;
  align-content: start;
}