.App {
  display: flex;
}
.sidebar {
  height: 100vh;
  width: 10vw;
  background: #dddddd;
  display: flex;
  flex-direction: column;
}

.sidebar header {
  height:80px;
  background: #bbbbbb;
}

.sidebarRow {
  height:70px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.sidebarRow:hover {
  background:#aaaaaa;
}
.content header {
  height:80px;
}
.content {
  width:100%;
  height:100vh;
}
.firmware-container{
  display:flex;
}
.family-list {
  display:flex;
  flex-direction: column;
}
.family-item {
  margin: 12px;
  padding: 12px;
}
.family-item:hover {
 background: #dddddd;
}
.firmware-list{
  display:flex;
  flex-direction: column;
}
.add-new-firmware {
  margin: 16px;
  padding: 16px;
}
.firmware-list .itemRow {
  margin:12px;
  padding:12px;
  display: flex;
  background: antiquewhite;
}
.firmware-list .itemRow .metadata{
  display:flex;
  flex-direction: column;
  width: 100px;
  align-content: start;
}

.firmware-list .itemRow .title-container {
  display: flex;
}

.firmware-list .itemRow .title {
  padding: 4px 4px 4px 0px;
}
.firmware-list .itemRow .subtitle {
  padding: 4px;
  color: #777777;
}
